* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
}

div {
  /*border: 1px solid black;*/
  /*margin-top: 100px;
  margin-bottom: 100px;*/
  margin-right: 150px;
  margin-left: 500px;
  background-color: lightgray;
}

img {
  /*border: 1px solid black;*/
  margin-top: 40px;
  margin-bottom: 5px;
  margin-right: 150px;
  margin-left: 150px;
  background-color: lightgray;
}

p {
  /*border: 1px solid black;*/
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightgray;
}

ul {
  /*border: 1px solid black;*/
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightgray;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  color: white;
}

nav {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

html {
    scroll-behavior: smooth;
}
